*{
    margin: 0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    height:10%;
    width: 100%;
    padding: 2px;
}

footer{
    position: relative;
    bottom: 0;
    background-color: rgb(39, 39, 39);
    color: white;
}

