*{
    margin: 0;
    padding:0;
}
/*      __upperpart__       */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    width: 100%;
    background-color:#ffa652 ;
    padding: 2px;

    input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    }

}
.Search-input{
    border: none;
    border-radius: 2rem;
}
.Search-input:focus-visible{
    outline: none
}

.Search-bar:hover{
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 2rem;
}
.search-icon-holder{
    padding-left: 0.5rem;
    border-radius: 1rem;
    display:inline;
}
.Search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 2.2rem;
    background-color: white;
    border-radius: 2rem;
}
.Search-input{
    width: 90%;
    padding: 0.5rem;
    padding-right: 1rem;
    height: 2rem;
    text-align: right;
}

.logo{
    display:flex;
    align-items: center;
    height: 100%;
    width: 20%;
    margin-left: 5%;
}
.part1-logo{
    display: inline;
    background-image: url(./pic-logo-final.png);
    background-size: cover;
    height: 100%;
    width: 30%;
}
.part2-logo{
    display: inline;
    background-image: url(./name-logo.png);
    background-size: cover;
    height: 100%;
    width: 70%;
}


/*       __End part__        */
footer{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    background-color: rgb(39, 39, 39);
    color: white;
    
}
.column{
        display: inline;

}

.credits{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.Account{
    padding: 0.5rem;
    margin-right: 1.5rem;
    border: 2px solid transparent;
    border-radius: 2rem;
    background-color: rgb(255, 245, 126);
}
.Account:hover{
    border: 2px solid black;
    border-radius: 2rem;
    background-color: rgb(255, 245, 126);

}

/*      __main body__       */
body{
    background-color: rgb(106, 236, 225) ;
}

main{
   display: inline;

}
.sidepanel{
    position:absolute;
    background-color: #26CCC2;
    width:20%;
    height:  80%;
}

.site{
    margin-top: 3rem;
    position:absolute;
    right: 8%;
    background-color: #26CCC2;
    width:60%;
    height:  27rem;
    border-radius: 1rem;
    padding:1rem;
    border: 2px solid  transparent;

    hr {
        border: 0;             /* Remove default border */
        height: 2px;          /* Thickness */
        background: #333;     /* Color */
        width: 95%;           /* Length */
        margin-left: 20px; 
        margin-right: 20px;     /* Centers the line with space above/below */
        margin-top: 10px;
        margin-bottom:10px;
    }
}
.site:hover{
    border: 2px solid black;
}
.list-element{
    display: flex;
    padding-left:1rem;
    padding-right:1rem;
   
}
.head{
    padding:2px;

}
.FileName{width: 40%;}
.Type{width: 10%;}
.Access{width:10%;}
.OwnedBy{width:20%;}
.ModifiedLast{width:20%;}

.content{


    width:100%;
    height:85%;
    background-color: white;
    border-radius: 1rem;
    padding-top:1rem;
    overflow-y: auto; 

}
.item{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px; 
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(157, 157, 157)  ;

}
